PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@bookmyorder.1udcq53.mongodb.net/bookmyorder?retryWrites=true&w=majority
GEMINI_API_KEY=your_gemini_api_key
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
CASHFREE_ENV=TEST
CASHFREE_API_URL=https://sandbox.cashfree.com/pg
JWT_SECRET=bookmyorder_super_secret_jwt_key_2026_skip_the_queue
ADMIN_EMAIL=support.bookmyorder.online@gmail.com
ADMIN_PASSWORD=admin.bookmyorder@123
FRONTEND_URL=http://localhost:5173
